[Unit]
Description=n8n webhook
After=network.target

[Service]
WorkingDirectory=/path/to/n8n-selfhosted
Restart=always

EnvironmentFile=/path/to/n8n-selfhosted/.env
ExecStart=yarn webhook

[Install]
WantedBy=default.target
